<div>
  <h1>Stupid Coaching</h1>
  <div class="bg-light text-dark p-4 mt-3">
    <h4>You</h4>
    <p><%= @question %></p>
  </div>

  <div class="bg-light text-dark p-4 mt-3">
    <h4>Coach</h4>
    <p><%= @answer %></p>
  </div>

  <div class="text-dark p-4 mt-3">
    <p><%= link_to "Ask a new question", ask_path%></p>
  </div>
</div>
